@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {

    background-image: url(/static/images/wallhaven-v9mg65_2560x1080.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero-img img{
    height: 35vh;
}
/* search bar */
.w3-btn.w3-blue.w3-border {
    position: absolute;
    top: 3px;
    right: 20px;
    border-radius: 30px;
}

.w3-container {
    position: relative;
}

/* input */
#urltext,
#specificElement {
    padding: 12px;
    border-radius: 30px;
}


.row p {
    text-align: left;
    padding-top: 2rem;
}

.img {
    width: 100px;
    height: 100px;
}

.results p{
    margin: 0;
    padding: 0;
}